.feedbackButton {
  position: fixed;
  right: 24px;
  bottom: 24px;

  width: 52px;
  height: 52px;

  border-radius: 50%;
  border: 1px solid #2B2C2D;

  background: #202222;
  color: white;

  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 999;

  transition: all .2s ease;

  &:hover {
    transform: translateY(-2px);
    background: #292B2B;
  }

  &:active {
    transform: scale(0.95);
  }
}