.code-block {
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 6px;
  scrollbar-width: thin;
  scrollbar-color: #8D9191 #191A1A;
  position: relative;
  background: #191A1A !important;

  &-wrapper {
    position: relative;
    max-height: inherit;

    &.code-block-hidden {
      max-height: none;
    }
  }

  & pre {
    max-width: 100%;
    margin: 0 !important;
    padding: 1em !important;
    background: #191A1A !important;
    border-radius: 6px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    max-height: inherit;
    overflow: visible !important;
  }

  & code {
    background: #191A1A !important;
    display: block !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-family: "Fira Code", monospace !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
  }

  &__actions {
    display: flex;
    gap: 6px;

    z-index: 5;
  }

  &__action {
    cursor: pointer;
    background: #191A1A;
    border: 1px solid #2B2C2D;
    border-radius: 8px;

    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #202222;
    }
  }

  &__action-icon {
    width: 23px;
    height: 23px;
  }

  &__header {
    position: sticky;
    top: 0;

    height: 34px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px;

    background: #191A1A;

    z-index: 10;
  }

  &__file-name {
    color: #8D9191;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    padding-left: 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}