.login-modal {
  &__overlay {
    padding: 11px;
  }

  &__form {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__switch {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__form-text {
    font-size: 13px;
    font-weight: 500;
    color: #E8E8E6;
    text-decoration: none;
    user-select: none;
    margin-bottom: 10px;
  }

  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 10px;
  }

  &__register {
    color: #E8E8E6;
    font-weight: 600;
    font-size: 11px;
    justify-self: flex-start;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__forgot-password {
    color: #E8E8E6;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button:hover {
    background-color: #8eafff;
  }

  &__google {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  &__error {
    color: #FFB4AD;
    font-size: 13px;
    align-self: flex-start;
    height: 17px;
    margin-left: 12px;
  }

  &__message {
    color: #E8E8E6;
    font-size: 13px;
    align-self: flex-start;
    height: 17px;
    margin-left: 12px;
  }

  &__loader {
    width: 16px;
    height: 16px;
    border: 2px solid #E8E8E6;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.footer {
  &__left {
    width: 33.3%;
  }

  &__center {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
  }
}

.hidden {
  visibility: hidden;
}